:root{
    --ghost-white: #f8f9fd;
    --green-bush: #5c996a;
    --on-click: #308042;
    --green-bg:#b3d6c3;
    --granite-gray: #626a6a;
    --baltic-sea: #33383c;
    --trans: all 0.5s ease-in-out;
}
